.errorText{
    color:red;
}

.errorInput{
    color:red !important;
    font-size: x-small;
    font-weight: 900;
}

.successInput{
    color:rgb(0, 56, 30) !important;
    font-size: small;
    font-weight: 900;
}

.textWhite{
    color: #ffff !important;
}

.textBlack{
    color: #000000!important;
}

.p{
    padding:0.5rem;
}

.pointer{
    cursor: pointer;
}

.smallFont{
    font-size: small;
}

.green{
    color: green !important;
}

.red{
    color: red !important;
}
.bold{
    font-weight: 900;
}

